.kenburns-top-right {
  -webkit-animation: kenburns-top-right 0.5s ease-out both;
  animation: kenburns-top-right 0.5s ease-out both;
}
.kenburns-top-right-reverse {
  -webkit-animation: kenburns-top-right 0.5s ease-out reverse both;
  animation: kenburns-top-right 0.5s ease-out reverse both;
}

.animated-text {
  animation: slideInFromBottom 1s forwards;
}

@-webkit-keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
    transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.1) translate(20px, -15px);
    transform: scale(1.1) translate(20px, -15px);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
}
@keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
    transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.1) translate(20px, -15px);
    transform: scale(1.1) translate(20px, -15px);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
}
/* Text Slider */
@keyframes slideInFromBottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  95% {
    transform: translateY(-40px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
